@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

/* -------------- Header --------------- */

.header {
    
    position: fixed;
    left:0;
    bottom: 0;
    z-index: 999;
    padding: 0.5rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--first-color);
}

.header > .container-header-up{
    margin-right: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    padding: 0.4rem;
    background-color: #FAFAFA;
    height: 3.5rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header > .container-header-down{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header-down{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
.container-header-up > a{
    margin: 0 10px;
}
.logo a{
    font-family: 'Bungee Inline', cursive;
    font-size: 2rem;
    text-decoration: none;
    color: var(--black-color);
}
.logo > a > img{
    
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 0%, 100% 50%,50% 100%,0% 50%);
    transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
.logo > a > img:hover{
    clip-path: polygon(100% 0%,100% 100%, 0% 100%,0% 0%);
}

.rounded-logo:hover{
    clip-path: polygon(50% 0%, 100% 50%,50% 100%,0% 50%);
    -o-clip-path: polygon(50% 0%, 100% 50%,50% 100%,0% 50%);
	clip-path: polygon(50% 0%, 100% 50%,50% 100%,0% 50%);
	transition: all 1s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all 1s ease-in-out;
}


 .menu-btn{
    display: block;
    background-color: var(--second-alpha-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: thin solid var(--second-color);
    padding: 0.4rem 0.8rem;
}
.menu-btn svg{
    fill: var(--white-color);
}

.navigation-menu{
  
  position: fixed;
  left: 0;
  bottom: 4.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease;
  background-color: var(--first-color);
} 
.navigation-menu.expanded {
  display: none;
}
.navigation-menu {
    
    position: fixed;
    left: 0;
    bottom: 4.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 1s ease;
    background-color: var(--first-color);
} 



.navigation-menu.expanded{
    display: none;
}


.navigation-menu {
	z-index:1000;
}

.navigation-menu ul {
	list-style:none;
}

.navigation-menu ul li {
	padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: thin var(--second-alpha-color) solid;
}

.navigation-menu ul li:hover {
	background-color: var(--first-alpha-color);
    border-radius: 5px;
}

.navigation-menu ul li a {
	color: black;
	display:block;
	text-decoration:none;
	
} 

.navigation-menu ul li:last-child,
.navigation-menu ul li:nth-last-child(2){
    display: none;
}

 .item_total{
    position: relative;
    top: -0.5rem;
    margin: 0;
    right: 0.7rem;
    z-index: 999;
    font-size: 0.8rem;
    color: white;
    background-color: red;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    
} 

/* .item_total{
    position: relative;
    margin: 0;
    top: -1rem;
    right: -1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    z-index: 999;

} */
@media screen and (min-width: 1024px){
    .container-header-up{
        display: none !important;  
    }  
    
    .header{
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.2rem);
        border-bottom: 3px solid var(--second-alpha-color);
    }
    .menu-btn{
        display: none;
    }
    .navigation-menu{
        display: block;
        position: static;
        width: auto;
    }
    .navigation-menu ul li{
        display: inline-block;
        padding: 0.5rem 1rem;
        border-bottom: none;
    }

    .navigation-menu.expanded{
        display: block;
        position: static;
        width: auto;
    }

    .navigation-menu.expanded ul li{
        display: inline-block;
        
        border-bottom: none;
    }
    .navigation-menu.expanded ul li a{
        display: block;
    }
    
    .navigation-menu ul li:last-child,
    .navigation-menu ul li:nth-last-child(2){
    
    display: inline-block;
    font-size: 1.1rem;
    }
    
  .icon1{
    display: none;
}
  .arrow{
      width: 20px;
      height: 20px;
  }

.navigation-menu.expanded ul li{
    
    border-radius: 0.5em;    
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
    
}
.navigation-menu.expanded ul li:hover{
    background-color: var(--first-alpha-color);
}
/* .navigation-menu.expanded ul li a:hover{
    color: white;

} */
.navigation-menu.expanded ul li a:hover{
    color: gray;
}
.navigation-menu ul li:hover{
    background-color: var(--first-alpha-color);
}
.navigation-menu ul li a:hover{
    color: gray;
}
.icon1:hover,
.icon1 img:hover{
    color: gray;    
    filter:opacity(0.9) drop-shadow(0 0 0 gray) 
}


.item_total{
    position: relative;
    top: -0.5rem;
    margin: 0;
    right: 0.2rem;
    z-index: 999;
    font-size: 0.8rem;
    color: white;
    background-color: red;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    
}



}










/* Icons */

.arrow{
    width: 17px;
    height: 17px;
}
.cart{
    width: 40px;
    height: 30px;
    
}
.profile{
    width: 40px;
    height: 30px;
}


@media screen and (min-width: 1024px){
    
.cart{
    width: 30px;
    height: 30px;
    
}
.profile{
    width: 35px;
    height: 20px;
}
}


.search-up{
    display:none;
}